* {
  padding: 0;
  margin: 0;
  
  &::before,
  &::after {
    box-sizing: inherit;
  };
  
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;

  @include onMobile {
    font-size: 56%;
  }
}

html,
body {
  font-family: "Poppins", sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

input, 
textarea {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
}